aiohttp>=3.7.4
async-timeout>=4.0
attrs==20.3.0
BareNecessities==0.2.8
cachetools==4.0.0
certifi>=2022.12.07
chardet>=3.0.4
Click>=8.0
CommandTool==0.5.3
cycler==0.10.0
decorator==4.4.1
dnspython==1.16.0
eventlet>=0.31.0
Flask>=2.2.5
Flask-SocketIO>=5.0
Flask-WTF>=1.0.0
google-api-core==1.16.0
google-api-python-client==1.7.11
google-auth==1.28.0
google-auth-httplib2==0.0.3
google-cloud-core==1.2.0
google-cloud-speech==1.3.1
googleapis-common-protos==1.6.0
greenlet==0.4.15
grpcio>=1.53.0
gunicorn==20.0.4
httplib2==0.19.0
idna==2.8
imageio>=2.27
infinity==1.4
intervals==0.8.1
itsdangerous>=2.0
Jinja2>=3.1.2
joblib>=1.2.0
kiwisolver==1.1.0
MarkupSafe==2.1.1
matplotlib==3.2.0
monotonic==1.5
multidict==5.1.0
mypy==0.761
mypy-extensions==0.4.3
networkx==2.8
numpy>=1.21
pandas==1.5
pcloud==1.0a8

Pillow>=8.2.0

protobuf>=3.15.0
psutil==5.6.7
pyasn1==0.4.8
pyasn1-modules==0.2.7
pyparsing==2.4.6
python-dateutil==2.8.1
python-engineio>=4.3.0
python-socketio>=5.6.0
pytz>=2020.1
PyWavelets==1.1.1
requests>=2.25.0
rsa>=4.1
scikit-image>=0.21.0
scipy>=1.10.0
six==1.13.0
torch==1.13.1
torchvision==0.14.1
Transcrypt==3.7.16
typed-ast==1.4.1
typing-extensions==4.5.0
uritemplate==3.0.1
urllib3>=1.25.8
validators==0.14.1
Werkzeug>=2.3.3
wget==3.2
WTForms==2.2.1
WTForms-Components==0.10.4
yarl==1.6.3
