{% extends "base.html" %}
{% block content %}
<title>audioanotate.html</title>

  <center>
  <h2>audio annotation </h2>
  </center>

  <video controls id="thisvideo" poster="/static/Untitled.png" video width="640" height="480">
      <source src={{ url_for('static', filename=showvideo) }} type="video/webm">
      <source src={{ url_for('static', filename=showvideo) }} type="video/mp4">
  </video>

  <br>
  <center>
  <i> ... perform steps from top to bottom ...</i>
  <br><br>
  <style> input  {width:150px; height: 25px;} </style>
  <form method="POST" enctype="multipart/form-data">
  <td>{{ form.vid.label }}</td>
  &nbsp&nbsp&nbsp
  <td>{{ form.vid }}</td>
  &nbsp&nbsp&nbsp
  <td>{{ form.mic }}</td>
  &nbsp&nbsp&nbsp
  <td>{{ form.mic.label }}</td>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

  <script>
  function ShowContext(file)
  {
    alert(
      'Use this module to replace the field audio with a new audio file.'  +
      '\nThis can be helpful if an expert wants to annoate a field video.' +
      '\nPick your field video and select the microphone input (see Readme for extra info).' +
      '\nThen load the video and set start and end times.' +
      '\nThen segment the video.' +
      '\nWhen that step is complete - it can take several minutes on .mp4 files -  click voiceover and comment on the video with appropriate keywords.' +
      '\nTurn off your speakers during the voiceover recording.' +
      '\nWhen you finished the voiceover (no longer than the segmented video), go back to start.' +
      '\n\nThe voiceover video will be stored in the \'anotate\' folder and ready for image labeling.'
      );
  }
  </script>

  <br><br>
  <input type=submit name='load' value='LoadVideo'>
  &nbsp&nbsp&nbsp
  <input type=submit name='context' value='Context' onclick='ShowContext(this)'>


  <br><br>
  <td>{{ form.sa_m.label }}</td>
  &nbsp&nbsp&nbsp
  <td>{{ form.sa_m }}</td>

  <td>{{ form.sa_s.label }}</td>
  &nbsp&nbsp&nbsp
  <td>{{ form.sa_s }}</td>

  <br><td></td>

  <td>{{ form.ea_m.label }}</td>
  &nbsp&nbsp&nbsp&nbsp
  <td>{{ form.ea_m }}</td>

  <td>{{ form.ea_s.label }}</td>
  &nbsp&nbsp&nbsp&nbsp
  <td>{{ form.ea_s }}</td>

  <br><br>
  <input type=submit name='segment' value='SegmentVideo'>
  <br><br>
  <input type='button' id="playbutton" value='VoiceOver'>
  <br><br>
  <style> a:link{background-color: #FFFFFF; padding-bottom: 6px; padding-top: 6px; padding-right: 10px; padding-left: 10px; text-align: center; text-decoration: none; display: inline-block; } </style>
  <a href="{{ url_for('index') }}"> back to start</a>
  </center>
<!----------------------------------------------------------------------------->

  <script src="//code.jquery.com/jquery-1.12.4.min.js" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">

  var socket = io();
  socket.on('connect', function(){socket.emit('response', {data: 'connected...'});})

  let videoElem = document.getElementById("thisvideo");
  let playButton = document.getElementById("playbutton");
  playButton.addEventListener("click", handlePlayButton, false);
  var start = '0'; var end = '0'

  playVideo();
  async function playVideo() {
    try {
      await videoElem.play();
      start = videoElem.currentTime;
      socket.emit('response', {start});
      playButton.className = "playing";
      playButton.value = 'RECORD voiceover'
    }
    catch(err) {
      playButton.className = "";
    }
  }

  function handlePlayButton() {
    if (videoElem.paused) {
      playVideo();
      playButton.value = 'recording now...'
    }
    else {
      playButton.value = 'recording now...'
      playButton.className = "";
    }
  }

  </script>

{% endblock %}

</body>
</html>
