<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>labelimagesview.html</title>
    <meta charset = "UTF-8" />
  </head>
  <body>
<!----------------------------------------------------------------------------->
upload images and scroll through
<br>
select a classifier
<br>
try it out...
<br>
add comments
<br>
<a href="{{ url_for('index') }}">back to start </a>
<!----------------------------------------------------------------------------->
</body>
</html>
